
p {
    margin: 0; padding: 0;
}

div.default {
    background-color: blue;
    color: white;
}

div.red {
    background-color: red;
    color: black;
}

div.green {
    background-color: green;
    color: white;
}

div.yellow {
    background-color: yellow;
    color: black;
}

div.none {
    background-color: #fff;
    color: black;
}

div.black {
    background-color: black;
    color: white;
}